---
# Tasks for provisioning KVM virtual machines
# Note: The following tasks have been modified to use a minimal configuration
# that is compatible with the installed version of the community.libvirt.virt module.
# The original parameters (disk, memory, network, vcpus) are not supported by this version.
# These tasks should be further modified to properly configure the VMs using supported parameters,
# such as defining the VM using an XML template.

- name: Ensure root SSH key exists
  ansible.builtin.command:
    cmd: ssh-keygen -t rsa -f /root/.ssh/id_rsa -N '' -q
    creates: /root/.ssh/id_rsa.pub

- name: Read root SSH public key
  ansible.builtin.slurp:
    src: /root/.ssh/id_rsa.pub
  register: ssh_pub_key

- name: Create disk for Quay VM
  ansible.builtin.command:
    cmd: qemu-img create -f qcow2 -b /var/lib/libvirt/images/rhel8 -F qcow2 /var/lib/libvirt/images/quay-vm-{{ item }}.qcow2 100G
    creates: /var/lib/libvirt/images/quay-vm-{{ item }}.qcow2
  loop: "{{ groups['kvm_quay_vms'] }}"
  when: "'kvm_quay_vms' in groups"

- name: Create cloud-init user-data
  ansible.builtin.copy:
    dest: "/var/lib/libvirt/images/user-data-{{ item }}"
    content: |
      #cloud-config
      users:
        - name: cloud-user
          sudo: ALL=(ALL) NOPASSWD:ALL
          ssh_authorized_keys:
            - {{ (ssh_pub_key.content | b64decode).strip() }}
      chpasswd:
        list: |
          cloud-user:redhat
        expire: False
      ssh_pwauth: True
  loop: "{{ groups['kvm_quay_vms'] }}"
  when: "'kvm_quay_vms' in groups"

- name: Create cloud-init meta-data
  ansible.builtin.copy:
    dest: "/var/lib/libvirt/images/meta-data-{{ item }}"
    content: |
      instance-id: {{ item }}
      local-hostname: {{ item }}
  loop: "{{ groups['kvm_quay_vms'] }}"
  when: "'kvm_quay_vms' in groups"

- name: Create cloud-init ISO
  ansible.builtin.command:
    cmd: genisoimage -output /var/lib/libvirt/images/cloud-init-{{ item }}.iso -volid cidata -joliet -rock /var/lib/libvirt/images/user-data-{{ item }} /var/lib/libvirt/images/meta-data-{{ item }}
    creates: /var/lib/libvirt/images/cloud-init-{{ item }}.iso
  loop: "{{ groups['kvm_quay_vms'] }}"
  when: "'kvm_quay_vms' in groups"

- name: Create Quay VM
  community.libvirt.virt:
    command: define
    xml: |
      <domain type='kvm'>
        <name>quay-vm-{{ item | regex_replace('quay-vm-', '') }}</name>
        <memory unit='MiB'>8192</memory>
        <vcpu>4</vcpu>
        <os>
          <type arch='x86_64' machine='pc-q35-rhel8.6.0'>hvm</type>
          <boot dev='hd'/>
        </os>
        <features>
          <acpi/>
          <apic/>
        </features>
        <cpu mode='host-passthrough'/>
        <devices>
          <emulator>/usr/libexec/qemu-kvm</emulator>
          <disk type='file' device='disk'>
            <driver name='qemu' type='qcow2'/>
            <source file='/var/lib/libvirt/images/quay-vm-{{ item }}.qcow2'/>
            <target dev='vda' bus='virtio'/>
          </disk>
          <disk type='file' device='cdrom'>
            <driver name='qemu' type='raw'/>
            <source file='/var/lib/libvirt/images/cloud-init-{{ item }}.iso'/>
            <target dev='sda' bus='sata'/>
            <readonly/>
          </disk>
          <interface type='network'>
            <source network='default'/>
            <model type='virtio'/>
          </interface>
          <serial type='pty'/>
          <console type='pty'/>
          <channel type='unix'>
            <target type='virtio' name='org.qemu.guest_agent.0'/>
          </channel>
          <graphics type='vnc' port='-1' autoport='yes' listen='0.0.0.0'>
            <listen type='address' address='0.0.0.0'/>
          </graphics>
        </devices>
      </domain>
  loop: "{{ groups['kvm_quay_vms'] }}"
  when: "'kvm_quay_vms' in groups"

- name: Start Quay VM
  community.libvirt.virt:
    name: quay-vm-{{ item | regex_replace('quay-vm-', '') }}
    state: running
  loop: "{{ groups['kvm_quay_vms'] }}"
  when: "'kvm_quay_vms' in groups"

- name: Provision Harbor KVM VMs
  community.libvirt.virt:
    name: harbor-vm-{{ item }}
    state: running
  loop: "{{ groups['kvm_harbor_vms'] | default([]) }}"
  when: "'kvm_harbor_vms' in groups"

- name: Provision JFrog KVM VMs
  community.libvirt.virt:
    name: jfrog-vm-{{ item }}
    state: running
  loop: "{{ groups['kvm_jfrog_vms'] | default([]) }}"
  when: "'kvm_jfrog_vms' in groups"
