---
# Tasks for provisioning KVM virtual machines
# Note: The following tasks have been modified to use a minimal configuration
# that is compatible with the installed version of the community.libvirt.virt module.
# The original parameters (disk, memory, network, vcpus) are not supported by this version.
# These tasks should be further modified to properly configure the VMs using supported parameters,
# such as defining the VM using an XML template.

- name: Provision Quay KVM VMs
  community.libvirt.virt:
    name: quay-vm-{{ item }}
    state: running
  loop: "{{ groups['kvm_quay_vms'] }}"

- name: Provision Harbor KVM VMs
  community.libvirt.virt:
    name: harbor-vm-{{ item }}
    state: running
  loop: "{{ groups['kvm_harbor_vms'] }}"

- name: Provision JFrog KVM VMs
  community.libvirt.virt:
    name: jfrog-vm-{{ item }}
    state: running
  loop: "{{ groups['kvm_jfrog_vms'] }}"
