---
# Prerequisites:
## Modify the inventory file to reflect your environment
## The user must have password-less sudo access
## The user must have password-less ssh access to the remote hosts
## You need a Pull Secret from the RH Registry: https://cloud.redhat.com/openshift/install/pull-secret

- name: Downloads OpenShift and Operator Catalog container images and stores them as TAR files to be transported into a disconnected enclave
  hosts: dmzMirror
  gather_facts: true
  become: true

  vars:

    # =====================================
    # RH Registry Pull Secret
    # local_rh_pull_secret_path and rh_pull_secret are mutually exclusive

    # local_rh_pull_secret_path: /home/kemo/rh-pull-secret
    rh_pull_secret: "{{ lookup('file', '/home/kemo/rh-pull-secret') }}"

    # target_rh_pull_secret_path is the user path where the authentication file will be stored on the remote host
    target_rh_pull_secret_path: /root/.docker/config.json

    # =====================================
    # Mirror Configuration
    target_mirror_path: /opt/images # no trailing slash

    openshift_releases:
    # A single x.y.z release
      - name: stable-4.12
        minVersion: 4.12.15
        maxVersion: 4.12.15

      # An upgrade release - check paths: https://access.redhat.com/labs/ocpupgradegraph/update_path/
      - name: stable-4.13
        minVersion: 4.12.15
        maxVersion: 4.13.10
        shortestPath: true

    certified_catalog_operator_packages:
      # PortWorx Certified Operator
      - name: portworx-certified

    redhat_catalog_operator_packages:
      # OpenShift Update Service
      - name: cincinnati-operator
      # OpenShift Cluster Logging
      - name: cluster-logging
      # OpenShift ElasticSearch Operator
      - name: elasticsearch-operator
      # Kubernetes NMState Operator
      - name: kubernetes-nmstate-operator
      # OpenShift Advanced Cluster Management
      - name: advanced-cluster-management
      # multicluster-engine Operator
      - name: multicluster-engine
      # multicluster-engine-global-hub Operator
      - name: multicluster-global-hub-operator-product
      # OpenShift Virtualization
      - name: kubevirt-hyperconverged
      # Local Storage Operator
      - name: local-storage-operator
      # Loki Operator
      - name: loki-operator
      # LVM Operator
      - name: lvms-operator
      # MetalLB Operator
      - name: metallb-operator
      # Migration Toolkit for Virtualization Operator
      - name: mtv-operator
      # Network Observatory Operator
      - name: netobserv-operator
      # OpenShift GitOps Operator
      - name: openshift-gitops-operator
      # ODF Operators
      - name: ocs-client-operator
      - name: odf-csi-addons-operator
      - name: odf-multicluster-orchestrator
      - name: odf-operator
      - name: odr-cluster-operator
      - name: odr-hub-operator

    operators:
      - catalog: registry.redhat.io/redhat/certified-operator-index:v4.12
        packages: "{{ certified_catalog_operator_packages }}"
      - catalog: registry.redhat.io/redhat/certified-operator-index:v4.13
        packages: "{{ certified_catalog_operator_packages }}"

      - catalog: registry.redhat.io/redhat/redhat-operator-index:v4.12
        packages: "{{ redhat_catalog_operator_packages }}"

      - catalog: registry.redhat.io/redhat/redhat-operator-index:v4.13
        packages: "{{ redhat_catalog_operator_packages }}"

    additional_images:
      - registry.redhat.io/ubi8/ubi:latest
      - quay.io/kenmoini/py-server:latest
      - quay.io/kenmoini/simple-chat:latest

    # =====================================
    # probably don't need to change the following

    # architectures defines what architectures to mirror for the OpenShift release
    architectures:
      - amd64
      # - arm64
      # - s390x
      # - ppc64le

    # archive_size defines the maximum size of the TAR files to be created
    archive_size: 4

    # enable_graph enables the option to build and push the graph-data image to the mirror registry.
    # The graph-data image is required to create OpenShift Update Service (OSUS).
    # Also generates the UpdateService custom resource manifest.
    # The oc command-line interface (CLI) can use the UpdateService custom resource manifest to create OSUS.
    # For more information, see About the OpenShift Update Service.
    enable_graph: true

    # clean_mirror_path defines whether to clean the mirror path before mirroring
    clean_mirror_path: false

    # Optionally set up Cockpit on the remote host - handy when needing to set up a storage volume
    setup_cockpit: true

    # base_packages defines the packages that will be installed on the remote host - mostly just handy
    base_packages:
      - nano
      - curl
      - wget
      - tar
      - unzip
      - bash-completion
      - bind-utils
      - httpd-tools
      - procps-ng

  tasks:
    - name: Make sure basic packages are installed
      ansible.builtin.package:
        name: "{{ base_packages }}"
        state: present

    - name: Setup Cockpit because I am a lazy admin
      when: setup_cockpit
      block:
        - name: Install Cockpit because it's nice to have
          ansible.builtin.package:
            name: ['cockpit', 'cockpit-storaged']
            state: present

        - name: Enable Cockpit
          ansible.builtin.service:
            name: cockpit.socket
            state: started
            enabled: true

    - name: Check for the oc binary
      block:
        - name: Check if oc is installed
          ansible.builtin.command: which oc
          changed_when: false
          failed_when: oc_installed.rc not in [0, 1]
          register: oc_installed

        - name: Install the oc binary
          when: oc_installed.rc not in [0]
          block:
            - name: Download the OC binary if it is not present
              ansible.builtin.get_url:
                url: https://mirror.openshift.com/pub/openshift-v4/{{ ansible_architecture }}/clients/ocp/stable/openshift-client-linux.tar.gz
                dest: /tmp/openshift-client-linux.tar.gz
                mode: 0755

            - name: Extract the oc binary
              ansible.builtin.unarchive:
                src: /tmp/openshift-client-linux.tar.gz
                dest: /usr/local/bin
                remote_src: true
                creates: /usr/local/bin/oc
                mode: 0755

            - name: Enable binary completion for oc
              ansible.builtin.shell: /usr/local/bin/oc completion bash > /etc/bash_completion.d/oc_completion.sh
              args:
                creates: /etc/bash_completion.d/oc_completion.sh

    - name: Check for the oc mirror plugin
      block:
        - name: Check if oc is installed
          ansible.builtin.command: which oc-mirror
          changed_when: false
          failed_when: oc_mirror_installed.rc not in [0, 1]
          register: oc_mirror_installed

        - name: Install the oc-mirror plugin
          when: oc_mirror_installed.rc not in [0]
          block:
            - name: Download the oc-mirror plugin
              ansible.builtin.get_url:
                url: https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/stable/oc-mirror.tar.gz
                dest: /tmp/oc-mirror.tar.gz
                mode: 0755

            - name: Extract the oc-mirror binary
              ansible.builtin.unarchive:
                src: /tmp/oc-mirror.tar.gz
                dest: /usr/local/bin
                remote_src: true
                creates: /usr/local/bin/oc-mirror
                mode: 0755

            - name: Enable binary completion for oc-mirror
              ansible.builtin.shell: /usr/local/bin/oc-mirror completion bash > /etc/bash_completion.d/oc-mirror_completion.sh
              args:
                creates: /etc/bash_completion.d/oc-mirror_completion.sh

    - name: Make sure that the root user has /usr/local/bin in its PATH
      block:
        - name: Check if /usr/local/bin is already defined
          ansible.builtin.lineinfile:
            state: absent
            path: "/root/.bashrc"
            regexp: "/usr/local/bin"
          check_mode: true
          changed_when: false # This just makes things look prettier in the logs
          register: path_check

        - name: Define /usr/local/bin if undefined
          ansible.builtin.lineinfile:
            state: present
            path: "/root/.bashrc"
            line: "export PATH=$PATH:/usr/local/bin"
          when: path_check.found == 0

    - name: Get the path to oc, discount double check
      ansible.builtin.command:
        cmd: which oc
      environment:
        PATH: "{{ ansible_env.PATH }}:/usr/local/bin"
      register: oc_path
      changed_when: false

    - name: Create the $HOME/.docker directory
      ansible.builtin.file:
        path: /root/.docker
        state: directory
        owner: root
        group: root
        mode: 0700

    - name: Copy the Red Hat Registry Pull Secret to the remote host
      when: local_rh_pull_secret_path is defined
      ansible.builtin.copy:
        src: "{{ local_rh_pull_secret_path }}"
        dest: "{{ target_rh_pull_secret_path }}"
        mode: 0600
        backup: true

    - name: Store the Red Hat Registry Pull Secret on the remote host when defined as a variable
      when: local_rh_pull_secret_path is not defined and rh_pull_secret is defined
      ansible.builtin.copy:
        content: "{{ rh_pull_secret }}"
        dest: "{{ target_rh_pull_secret_path }}"
        mode: 0600
        backup: true

    - name: Clear the mirror path if requested
      when: clean_mirror_path
      block:
        - name: Find any tar files that were already packaged
          ansible.builtin.find:
            paths: "{{ target_mirror_path }}/"
            patterns: "*.tar"
          register: tar_files_to_delete

        - name: Delete tar files
          ansible.builtin.file:
            path: "{{ tar_file.path }}"
            state: absent
          loop: "{{ tar_files_to_delete.files }}"
          loop_control:
            loop_var: tar_file

        - name: Delete general files
          ansible.builtin.file:
            path: "{{ path_item }}"
            state: absent
          loop:
            - "{{ target_mirror_path }}/oc-mirror-workspace/"
            - "{{ target_mirror_path }}/publish/"
          loop_control:
            loop_var: path_item

    - name: Ensure there's enough space for an OpenShift release
      register: available_space
      ansible.builtin.command:
        cmd: df --output=avail {{ target_mirror_path }}
      changed_when: false

    - name: Fail if the space is less than 30Gb per OpenShift Release defined
      when: available_space.stdout_lines[1] | int < (30000000 * openshift_releases | length)
      ansible.builtin.fail:
        msg: "There is not enough space available in {{ target_mirror_path }} to store the OpenShift release"

    - name: Determine the target OpenShift Operator Catalog package channels
      ansible.builtin.include_tasks:
        file: tasks/get-operator-catalog-channels.yml
      loop: "{{ operators }}"
      loop_control:
        loop_var: operator

    - name: Template the imageSetConfig file
      ansible.builtin.template:
        src: imageset-config.yml.j2
        dest: "{{ target_mirror_path }}/imageSetConfig.yml"
        mode: 0644
        owner: root
        group: root

    - name: Assemble the oc mirror command
      ansible.builtin.set_fact:
        oc_mirror_cmd: |-
          {{ oc_path.stdout }} mirror --config {{ target_mirror_path }}/imageSetConfig.yml file://

    - name: Display the oc mirror command
      ansible.builtin.debug:
        msg: "{{ oc_mirror_cmd }}"

    - name: Run the mirroring process
      ansible.builtin.command:
        cmd: "{{ oc_mirror_cmd }}"
        chdir: "{{ target_mirror_path }}"
      environment:
        PATH: "{{ ansible_env.PATH }}:/usr/local/bin"
      register: oc_mirror_output

    - name: Display the command output
      ansible.builtin.debug:
        msg: "{{ oc_mirror_output.stdout_lines }}"
