---
# Prerequisites:
## Modify the inventory file to reflect your environment
## The user must have password-less sudo access
## The user must have password-less sh access to the remote hosts
## You need a user to push to your remote registry

- name: Push a local set of oc-mirror packed TAR files to a remote registry
  hosts: localhost
  gather_facts: true
  become: true

  tasks:
    - name: Make sure that the root user has /usr/local/bin in its PATH
      block:
        - name: Check if /usr/local/bin is already defined
          ansible.builtin.lineinfile:
            state: absent
            path: "/root/.bashrc"
            regexp: "/usr/local/bin"
          check_mode: true
          changed_when: false
          register: path_check

        - name: Define /usr/local/bin if undefined
          ansible.builtin.lineinfile:
            state: present
            path: "/root/.bashrc"
            line: "export PATH=$PATH:/usr/local/bin"
          when: "path_check.found == 0"

    - name: Get path to oc command
      ansible.builtin.command:
        cmd: which oc
      environment:
        PATH: "{{ ansible_env.PATH }}:/usr/local/bin"
      register: oc_path
      changed_when: false

    - name: Create the Container Registry Config directory
      ansible.builtin.file:
        path: "{{ target_registry_auth_path }}"
        state: directory
        owner: "{{ target_registry_auth_path_user }}"
        group: "{{ target_registry_auth_path_group }}"
        mode: "0o700"

    - name: Create the authentication file for the registry
      ansible.builtin.template:
        src: templates/registry_auth.json.j2
        dest: "{{ target_registry_auth_path }}/config.json"
        mode: "0o600"

    - name: Generate Basic Auth Token for each registry
      ansible.builtin.set_fact:
        auth_token: "{{ (item.username + ':' + item.password) | b64encode }}"
      loop: "{{ registries }}"
      loop_control:
        loop_var: item
      when: "item.registry_type == 'harbor'"

    - name: Create Harbor Projects
      ansible.builtin.uri:
        url: "https://{{ item.server }}/api/v2.0/projects"
        method: POST
        headers:
          Authorization: "Basic {{ auth_token }}"
          Content-Type: "application/json"
        body_format: json
        status_code: [201, 409]  # 409 means project already exists
        validate_certs: false
        body: |
          {
            "project_name": "{{ item.path }}",
            "metadata": {
              "public": true
            },
            "storage_limit": -1,
            "registry_id": null
          }
      loop: "{{ registries }}"
      loop_control:
        loop_var: item
      when: "item.registry_type == 'harbor'"
      failed_when: false

    - name: View Output of oc-mirror Log @
      delegate_to: localhost
      ansible.builtin.debug:
        msg: "View the log located /tmp/oc-mirror-{{ item.path }}.log  to follow along with the push."
      loop: "{{ registries }}"

    - name: Push the mirror to the remote registry
      delegate_to: localhost
      ansible.builtin.shell:
        cmd: |-
          set -o pipefail
          oc-mirror --from={{ source_mirror_path }}/{{ mirror_tar_file }} \
            docker://{{ item.server }}/{{ item.path | default(omit) }} \
            --dest-skip-tls --max-per-registry=2 2>&1 | tee /tmp/oc-mirror-{{ item.path }}.log
      args:
        executable: /bin/bash
      environment:
        PATH: "{{ ansible_env.PATH }}:/usr/local/bin"
      register: push_status
      loop: "{{ registries }}"
      loop_control:
        loop_var: item
      changed_when: "'Writing ICSP manifests to' in push_status.stdout"

    - name: List repository tags
      delegate_to: localhost
      ansible.builtin.command:
        cmd: "skopeo list-tags docker://{{ item.server }}/{{ item.path }}/{{ item.path }} --tls-verify=false"
      register: skopeo_tags
      changed_when: false
      loop: "{{ registries }}"
      ignore_errors: true

    - name: Display repository tags
      ansible.builtin.debug:
        msg: >-
          Available tags for {{ item.server }}/{{ item.path }}/{{ item.path }}:
          {{ (skopeo_tags.results[ansible_loop.index0].stdout | from_json).Tags }}
      loop: "{{ registries }}"
      when: skopeo_tags.results[ansible_loop.index0].rc == 0

    - name: Inspect latest pushed tag
      delegate_to: localhost
      ansible.builtin.command:
        cmd: >-
          skopeo inspect
          docker://{{ item.server }}/{{ item.path }}/{{ item.path }}:{{ (skopeo_tags.results[ansible_loop.index0].stdout | from_json).Tags[-1] }}
          --tls-verify=false
      register: skopeo_inspect
      changed_when: false
      loop: "{{ registries }}"
      when: skopeo_tags.results[ansible_loop.index0].rc == 0

    - name: Calculate local checksums
      ansible.builtin.command:
        cmd: "sha256sum {{ source_mirror_path }}/{{ mirror_tar_file }}"
      register: local_checksums
      changed_when: false

    - name: Display oc-mirror workspace location
      ansible.builtin.debug:
        msg: "Mirror results are located at {{ source_mirror_path }}/oc-mirror-workspace/"
