---
- name: Setup Quay Registry
  hosts: quay
  become: true
  vars_files:
    - vars/quay-vars.yml

  vars:
    kvm_quay_vms:
      - 1
      - 2
    configure_hosts: true
    configure_quay: true
    enable_ssl: true

  pre_tasks:
    - name: Check if VM is reachable
      ansible.builtin.wait_for_connection:
        timeout: 60

    - name: Install firewalld
      ansible.builtin.package:
        name: firewalld
        state: present

    - name: Start and enable firewalld
      ansible.builtin.service:
        name: firewalld
        state: started
        enabled: true

    - name: Check firewalld status
      ansible.builtin.service_facts:

    - name: Ensure firewalld is running
      ansible.builtin.fail:
        msg: "Firewalld is not running. Please start firewalld."
      when: not ansible_facts.services['firewalld.service']['state'] == "running"

    - name: Open required ports in firewall
      ansible.posix.firewalld:
        port: "{{ item }}"
        permanent: true
        state: enabled
        immediate: true
      loop:
        - 8443/tcp  # Quay registry
        - 443/tcp   # HTTPS
        - 80/tcp    # HTTP

  roles:
    - kvm_provisioner
    - quay
