---
- name: Setup Quay Registry
  hosts: kvm_quay_vms
  become: true

  roles:
    - kvm_provisioner

  vars:
    kvm_quay_vms:
      - 1
      - 2
  gather_facts: false
  tasks:
    - name: Create quay_installer directory
      ansible.builtin.file:
        path: quay_installer
        state: directory
    - name: Download Quay offline installer
      ansible.builtin.get_url:
        url: https://github.com/quay/mirror-registry/releases/download/v2.0.3/mirror-registry-offline.tar.gz
        dest: quay_installer/mirror-registry-offline.tar.gz

    - name: Extract Quay installer
      ansible.builtin.unarchive:
        src: quay_installer/mirror-registry-offline.tar.gz
        dest: quay_installer
        remote_src: true

    - name: Install Quay
      ansible.builtin.command: >
        quay_installer/mirror-registry install
        --quayRoot={{ quay_root_dir }}
        --quayStorage={{ quay_storage_dir }}
        --quayHostname={{ quay_hostname }}.{{ base_domain }}
        --initUser=admin
        --initPassword={{ quay_admin_password }}
        {% if enable_ssl %}
        --sslCert={{ ssl_cert_dir }}/quay.crt
        --sslKey={{ ssl_cert_dir }}/quay.key
        {% endif %}
      environment:
        PATH: "{{ ansible_env.PATH }}:/usr/local/bin"

    - name: Create Quay organization
      ansible.builtin.command: >
        quay_installer/mirror-registry org create
        --name openshift-mirror
        --description "Organization for OpenShift mirror content"
        --public
      environment:
        PATH: "{{ ansible_env.PATH }}:/usr/local/bin"

    - name: Create Quay robot account
      ansible.builtin.command: >
        quay_installer/mirror-registry robot create
        --name openshift-mirror-robot
        --description "Robot account for pushing OpenShift mirror content"
        --org openshift-mirror
        --role write
      register: quay_robot_output
      environment:
        PATH: "{{ ansible_env.PATH }}:/usr/local/bin"

    - name: Print Quay robot account credentials
      ansible.builtin.debug:
        msg: "Quay robot account credentials: {{ quay_robot_output.stdout }}"
